<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" ng-app="rcw">
<head lang="ja">
<meta charset="UTF-8" />
<title>Record Writer</title>
<link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
</head>
<body>
    <script src="/static/bower_components/jquery/dist/jquery.js"
        th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
    <script
        src="/static/bower_components/bootstrap/dist/js/bootstrap.js"
        th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
    <script
            src="/static/bower_components/angularjs/angular.js"
            th:src="@{/bower_components/angularjs/angular.js}"></script>
    <script
            src="/static/bower_components/angular-resource/angular-resource.js"
            th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
    <script src="/static/js/app.js" th:src="@{/js/app.js}"></script>
    <script src="/static/js/controller/indexController.js" th:src="@{/js/controller/indexController.js}"></script>
    <script src="/static/js/service/recordService.js" th:src="@{/js/service/recordService.js}"></script>
    <div ng-form="form" novalidate="">
        <div class="container" ng-controller="indexController">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                            data-parent="#writeRecord"
                            href="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne"> <span
                            class="glyphicon glyphicon-edit"
                            aria-hidden="true"></span> 今日の出来事を記載する
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in"
                    role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row" style="margin-top: 20px">
                            <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[form.title.$dirty &amp;&amp; form.title.$invalid]" >
                                <label
                                    class="control-label col col-md-1 col-sm-2 col-xs-3"
                                    for="title">Title:</label>
                                <div class="col col-md-5 col-sm-10 col-xs-9 ">
                                    <input
                                        class="form-control"
                                        placeholder="今日は何がありましたか？"
                                        ng-model="title"
                                        required="true"
                                        ng-maxlength="20"
                                        name="title" id="title" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[form.record.$dirty &amp;&amp; form.record.$invalid]" >
                                <label
                                    class="control-label col col-md-1 col-sm-2 col-xs-3"
                                    for="record">Record:</label>
                                    <div class="col col-md-5 col-sm-10 col-xs-9" >
                                        <textarea
                                            class="form-control"
                                            name="record"
                                            ng-model="record"
                                            required="true"
                                            ng-maxlength="140"
                                            id="record"
                                            cols="30"
                                            rows="5"
                                            placeholder="詳細に教えていただけますか？">
                                        </textarea>
                                    </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="form-group">
                                <table class="col col-md-1 col-md-offset-3 col-sm-2 col-xs-3">
                                    <tr>
                                        <td class="text-right small" ng-class="lengthCheck(form.title.$viewValue,'20')" style="padding-right: 15px;">{{20 - form.title.$viewValue.length}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right small" ng-class="lengthCheck(form.record.$viewValue,'140')" style="padding-right: 15px;">{{140 - form.record.$viewValue.length}}</td>
                                    </tr>
                                </table>
                                <div class="col
                                            col-md-2 col-md-offset-0
                                            col-sm-10 col-sm-offset-0
                                            col-xs-9 col-xs-offset-0">
                                    <button ng-click="createRecord()"
                                            ng-class="{disabled:form.$invalid}"
                                            class="btn btn-default form-control" >送信</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="record in records" ng-if="$index % 3 === 0">
                <div class="col col-md-4 col-sm-6 col-xs-12 panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne{{$index}}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" ng-href="#record{{$index}}"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    {{records[$index].title}}
                                </a>
                            </h4>
                        </div>
                        <div id="record{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                {{records[$index].record}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-6 col-xs-12 panel-group" ng-if="records[$index + 1]">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne{{$index + 1}}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" ng-href="#record{{$index + 1}}"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    {{records[$index + 1].title}}
                                </a>
                            </h4>
                        </div>
                        <div id="record{{$index + 1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                {{records[$index + 1].record}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-6 col-xs-12 panel-group" ng-if="records[$index + 2]">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne{{$index + 2}}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" ng-href="#record{{$index + 2}}"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    {{records[$index + 2].title}}
                                </a>
                            </h4>
                        </div>
                        <div id="record{{$index + 2}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                {{records[$index + 2].record}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</body>
</html>