<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
<meta charset="UTF-8" />
<title>Record Writer</title>
<link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
<STYLE type="text/css">
<!--
.row {
    margin-bottom:15px
}
.row > div {
    border: 1px solid #000000;  
}
-->
</STYLE>
</head>
<body>
    <script src="/static/bower_components/jquery/dist/jquery.js"
        th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
    <script
        src="/static/bower_components/bootstrap/dist/js/bootstrap.js"
        th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
            <div class="col-md-1">.col-md-1</div>
        </div>
        <div class="row">
            <div class="col-md-8">.col-md-8</div>
            <div class="col-md-4">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
        </div>
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
            <div class="col-xs-6">.col-xs-6</div>
            <div class="col-xs-6">.col-xs-6</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12
                .col-sm-6 .col-md-8</div>
            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        </div>
    </div>
    <form action="./" method="post" th:object="${recordForm}">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#writeRecord" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        今日の出来事を記載する
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input
                                placeholder="今日は何がありましたか？"
                                name="title" id="title" th:field="*{title}" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="record">Record:</label>
                        <textarea
                            name="record" id="record" cols="30" rows="5"
                            placeholder="詳細に教えていただけますか？"
                            th:field="*{record}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default" >送信</button>
                </div>
            </div>
        </div>
    </form>

    <div th:each="record,iterStat  : ${records}">
        <h4 class="panel-title" th:text="${record.title}"></h4>
        <div class="panel-body" th:text="${record.record}"></div>
    </div>

</body>
</html>